<script>
    // Will come into play later after backend is fully functional

    /* 
        Some functionalities that come to mind right now (Jan. 17, 2023)
            - Add, delete button
                - Add uses a modal to add task name and description
                    - Can have empty description but not empty task name
                - Delete uses a modal to confirm delete (so confirm and cancel buttons, nothing else)
                - Confirm the changes to db
            - Each task is different colour and has title, description.
                - Task name and Description is editable so each task should have edit button in top right
                    - Clicking edit should call a modal (bootstrap) to edit and change
                    - Send changes to db or add save button then send to db
            - Have a logout
                - Logout also uses a modal to confirm logout
    */
</script>