<!DOCTYPE html>
<head>
    <title>TODO App</title> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>

<body>
    <div class="container">
        <h1 class="pb-2 text-muted">TODO...</h1>
        <h3>Login</h3>
        <p>Welcome to the TODO task management application. Please login below.</p>
        <form id="login-form" onsubmit="submitLoginForm(event)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control mb-3" id="email" placeholder="user123@domain.com" maxlength="64" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control mb-3" id="password" minlength="8" maxlength="64" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,64}$" required>
                <p>Forgot your password? <a href="#" data-toggle="modal" data-target="#forgotPassword">Reset it here.</a></p>
            </div> 
            <div class="form-group">
                <button id="submit-btn" type="submit" class="btn btn-primary pb-2">Login</button>
                <p>New to TODO? <a href="./signup">Signup here.</a></p>
            </div>
        </form>
        

        <div id="forgotPassword" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Reset Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="reset-form" onsubmit="submitResetPasswordForm(event)">
                        <div class="form-group">
                            <label for="reset-email">Email</label>
                            <input type="text" class="form-control" id="reset-email" placeholder="user123@domain.com" maxlength="64" required>
                        </div>
                        <div class="form-group">
                            <label for="reset-password">Password</label>
                            <input type="password" class="form-control" id="reset-password"  minlength="8" maxlength="64" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,64}$" required>
                        </div>
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            <input type="password" class="form-control" id="new-password"  minlength="8" maxlength="64" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,64}$" required>
                        </div>
                        <button type="submit" id="reset-btn" class="btn btn-primary">Reset</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script>
        function submitLoginForm(event) {
            let email = document.getElementById('email').value
            let password = document.getElementById('password').value

            let data = {
                email: email,
                password: password,
            }

            fetch('/user/login', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-type': 'application/json'
                },
            }).then(res => {
                if (!res.ok) {
                    throw new Error(`HTTP error, status = ${res.status}`)
                }
                alert('You have logged in successfully!')
                window.location.href = '/task/dashboard'
            })
            .catch(err => {
                console.log(err)
                alert('Something went wrong. Try again.')
            })

            event.preventDefault()
        }

        // RESET PASSWORD FUNCTIONALITY

        function submitResetPasswordForm(event) {
            let resetEmail = document.getElementById('reset-email').value
            let resetPassword = document.getElementById('reset-password').value
            let newPassword = document.getElementById('new-password').value

            let data = {
                email: resetEmail,
                password: resetPassword,
                newPassword: newPassword
            }

            fetch('/user/resetPassword', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-type': 'application/json'
                },
            }).then(res => {
                if (!res.ok) {
                    throw new Error(`HTTP error, status = ${res.status}`)
                }
                alert('Your password has been reset successfully!')
                window.location.href = '/user/login'
            })
            .catch(err => {
                console.log(err)
                alert('Something went wrong. Try again.')
            })

            event.preventDefault()
        }

    </script>

    


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>