
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da !important;
    box-shadow: none !important;
    background-image: none !important; 
}

::-ms-reveal {
    display: none;
}